#background {
    background-color: rgb(59, 59, 59);
}
/* Sets Size of Nav Buttons */
.menubutt{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* box-shadow: rgba(63, 47, 47) 0px 20px 30px -10px;
    background-color: rgb(59, 59, 59); */
    transition: all .2s ease-in-out; 
    }


.menubutt:hover { 
    transform: scale(1.1); 
    }

/* Navigation Structure */
.navbar{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 110px;
    justify-content: center;
    position: fixed;
    padding: 10px;
    background-color: rgba(31, 30, 30, 0.199);
    box-shadow: rgba(0, 0, 0, 0.568) 0px 0px 10px 0.5px;
    margin-top: -21px;
    margin-left: -8px;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    text-align: left;
    font-weight: bold;
    
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    text-align: left;
    font-weight: bold;
    font-size: 25px;}

h5{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    text-align: left;
    font-weight: bold;
    font-size: 25px;}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    font-size: 18px;
    margin-right: 32.5%;
    text-align: justify;
    padding-bottom: 1px
    
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    font-size: 18px;
    margin-right: 32.5%;
    text-align: justify;
    padding-bottom: 10px}

.WARNING{
    font-size: 30px;
    color: red;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: yellow;}

.margin{
    margin-left: 150px;
}


.navbutton{
    background: none;
    border: none;
    box-shadow: rgba(63, 47, 47) 0px 20px 30px -10px;
    border-radius: 100px;
}
.navbutton a:hover{
    filter: invert(100%);
    transition: .5s;
}


.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.socials{
    background: none;
    border: none;

}

.twitlink{
    width: 150px;
transition: all .3s ease-in-out; 
}

.twitlink:hover { 
transform: scale(1.1); 
        }



.jameshead{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    margin-left: 50px;
    box-shadow: rgb(39, 39, 39) 0px 30px 40px -10px;
    transition: all .5s ease-in-out;
}
.jameshead:hover{transform: scale(1.05); }

.table{
    margin-left: 450px;
    border-radius: 10px;
    box-shadow: rgb(39, 39, 39) 0px 20px 30px -10px;
}

.pano{
    box-shadow: rgb(39, 39, 39) 0px 20px 30px -10px;
    border-radius: 10px;
}



.comp{
    width: 800px;
    height: auto;
    border-radius: 35px;
    box-shadow: rgb(39, 39, 39) 0px 20px 30px -10px

}

.comp1{
    border-radius: 35px;
    box-shadow: rgb(39, 39, 39) 0px 20px 30px -10px
}

/* ------------------------------------------- */

.fmt{
    height: 500px;
    width: auto;
    border-radius: 25px;
    margin: 10px;
    box-shadow: rgb(39, 39, 39) 0px 20px 30px -10px;
    transition: all .5s ease-in-out;
}

.fmt:hover { 
transform: scale(1.05); 
}
.doodleee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }


/* ------------------------------------------- */
